{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
        {% if app.request.attributes.get('_route') == 'tricks_edit' %}
            <h2>Media</h2>
            <div class="row d-flex flex-row bd-highlight justify-content-around mb-3">
            {% for medium in trick.media %}
                  <div class="row justify-content-around col-2">
                      <img src="{{ asset('../public/uploads/' ~ medium.name) }}" alt="Image" width="200" height="200">
                      {{ include('media/_delete_form.html.twig') }}
                      {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
                  </div>
            {% endfor %}
            </div>
        {% endif %}

        <h2>Videos :</h2>
        {% if trick.videos %}
                <div class="row d-flex flex-row bd-highlight justify-content-around mb-3">
                  {% for video in trick.videos %}
                    <div class="row justify-content-around col-2" width="200" height="200">
                      {{video.iframe|raw}}
                      {{ include('videos/_delete_form.html.twig') }}
                    </div>
                    {% else %}
                        <div>
                            <p>
                              Pas encore de video pour cette figure !
                            </p>
                        </div>
                {% endfor %}
                </div>
        {% endif %}

        {{ form_widget(form) }}
    <button class="btn btn-lg btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
