{% extends 'layout.html.twig' %}

{% block pageTitle %}<h1>Accueil</h1>{% endblock %}

{% block hero %}
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner card bg-dark">
    <div class="carousel-item active">
      <img src="../public/img/snowboard-header.jpg" class="card-img" alt="..." style="opacity: 0.5">
      <div class="d-flex flex-nowrap flex-column carousel-caption d-md-block ">
        <h5 class="" style="font-size:5vw;">T'es un roi de la glisse et tu veux veux le faire savoir ?</h5>
        <p class="d-none d-md-block" style="font-size:2vw;">Alors rejoins la communauté et affiche tes plus beaux tricks !</p>
        <a class="nav-link text-dark" href="{{path('app_register')}}"><button type="button" class="btn btn-primary text-nowrap ">Inscris-toi !</button></a>
      </div>
    </div>
    <div class="d-flex flex-row-reverse">
      <a>
        <button type="button" class="btn sm btn-dark btn-sm" data-toggle="collapse" data-target="#tricksIndex">
          <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd" d="M4.646 7.646a.5.5 0 0 1 .708 0L8 10.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
            <path fill-rule="evenodd" d="M8 4.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5z"/>
          </svg>
        </button>
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div id="tricksIndex" class="container-fluid collapse">
    <h2 class="text-center">Nos plus beaux tricks !</h2>
    <br />
        <div class="row d-flex justify-content-around">
          {% for trick in tricks %}
          <div class="card col-3">
            <img src="../public/img/snowboard-default.png" class="card-img-top lazy" alt="..." width="25">
            <div class="card-body d-flex flex-row">
                <a href="{{ path('tricks_show', {'id': trick.id}) }}">{{ trick.name }}</a>
                <p><a href="{{ path('tricks_edit', {'id': trick.id}) }}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5.707 13.707a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391L10.086 2.5a2 2 0 0 1 2.828 0l.586.586a2 2 0 0 1 0 2.828l-7.793 7.793zM3 11l7.793-7.793a1 1 0 0 1 1.414 0l.586.586a1 1 0 0 1 0 1.414L5 13l-3 1 1-3z"/>
                        <path fill-rule="evenodd" d="M9.854 2.56a.5.5 0 0 0-.708 0L5.854 5.855a.5.5 0 0 1-.708-.708L8.44 1.854a1.5 1.5 0 0 1 2.122 0l.293.292a.5.5 0 0 1-.707.708l-.293-.293z"/>
                        <path d="M13.293 1.207a1 1 0 0 1 1.414 0l.03.03a1 1 0 0 1 .03 1.383L13.5 4 12 2.5l1.293-1.293z"/>
                    </svg>
                </a>
                <a>{{ include('tricks/_delete_form.html.twig') }}</p></a>
            </div>

          </div>

        {% else %}
            <p>
              Pas encore de figure ajouté. Soyez le premier à en ajouter un !
            </p>
        {% endfor %}
        </div>
</div>
{% endblock %}

{% block preFooter %}
  <div class="d-flex flex-row-reverse carousel-inner card bg-dark">
    <a>
      <button type="button" class="btn sm btn-dark btn-sm" data-toggle="collapse" data-target="#tricksIndex">
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-up-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M4.646 8.354a.5.5 0 0 0 .708 0L8 5.707l2.646 2.647a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 0 0 0 .708z"/>
        <path fill-rule="evenodd" d="M8 11.5a.5.5 0 0 0 .5-.5V6a.5.5 0 0 0-1 0v5a.5.5 0 0 0 .5.5z"/>
      </svg>
      </button>
    </a>
  </div>
{% endblock %}
