{% extends 'layout.html.twig' %}

{% block pageTitle %}Tricks index{% endblock %}

{% block hero %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="../public/img/snowboard-header.jpg" class="d-block w-100" alt="...">
  </div>
</div>
{% endblock %}

{% block content %}
    <h1>Tricks index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>TrickGroup</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trick in tricks %}
            <tr>
                <td>{{ trick.id }}</td>
                <td>{{ trick.name }}</td>
                <td>{{ trick.description }}</td>
                <td>{{ trick.trickGroup }}</td>
                <td>
                    <a href="{{ path('tricks_show', {'id': trick.id}) }}">show</a>
                    <a href="{{ path('tricks_edit', {'id': trick.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tricks_new') }}">Create new</a>
{% endblock %}
