{% extends 'layout.html.twig' %}

{% block pageTitle %}<h1>Accueil</h1>{% endblock %}

{% block hero %}
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner card bg-dark">
    <div class="carousel-item active">
      <img src="../public/img/snowboard-header.jpg" class="card-img" alt="..." style="opacity: 0.5">
      <div class="d-flex flex-nowrap flex-column carousel-caption d-md-block ">
        <h5 class="" style="font-size:5vw;">T'es un roi de la glisse et tu veux veux le faire savoir ?</h5>
        <p class="d-none d-md-block" style="font-size:2vw;">Alors rejoins la communauté et affiche tes plus beaux tricks !</p>
        <a class="nav-link text-dark" href="{{path('app_register')}}"><button type="button" class="btn btn-primary text-nowrap ">Inscris-toi !</button></a>
      </div>
    </div>
    <div class="d-flex flex-row-reverse">
      <a>
        <button type="button" class="btn sm btn-dark btn-sm" data-toggle="collapse" data-target="#tricksIndex">
          <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd" d="M4.646 7.646a.5.5 0 0 1 .708 0L8 10.293l2.646-2.647a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708z"/>
            <path fill-rule="evenodd" d="M8 4.5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5z"/>
          </svg>
        </button>
      </a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div id="tricksIndex" class="container-fluid collapse">
    <h2 class="text-center">Nos plus beaux tricks !</h2>
    <br />
        <div class="row d-flex justify-content-around">
          {% for trick in tricks %}
          <div class="card col-3">
            {% if trick.media %}
                {% for medium in trick.media|slice(0,1) %}
                    <img src="{{ asset('uploads/' ~ medium.name) }}" class="card-img-top" alt="..." width="25" height="200">
                {% else %}
                    <img src="../public/img/snowboard-default.png" class="card-img-top lazy" alt="..." width="25" height="200">
                {% endfor %}
            {% endif %}

            <div class="card-body d-flex flex-row">
              <div class="mr-auto p-2">
                  <a href="{{ path('tricks_show', {'id': trick.id}) }}" class="font-weight-bold">{{ trick.name }}</a>
              </div>
              <div class="p-2">
                {% if app.user %}
                <p>
                  <a href="{{ path('tricks_edit', {'id': trick.id}) }}">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                      <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                    </svg>
                  </a>
                  <a href="{{ path('tricks_deleting', {'id': trick.id}) }}">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                  </a>
                </p>
                {% endif %}
              </div>
            </div>
          </div>

        {% else %}
            <p>
              Pas encore de figure ajouté. Soyez le premier à en ajouter un !
            </p>
        {% endfor %}
        </div>
</div>
{% endblock %}

{% block preFooter %}
  <div class="d-flex flex-row-reverse carousel-inner card bg-dark">
    <a>
      <button type="button" class="btn sm btn-dark btn-sm" data-toggle="collapse" data-target="#tricksIndex">
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-up-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M4.646 8.354a.5.5 0 0 0 .708 0L8 5.707l2.646 2.647a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 0 0 0 .708z"/>
        <path fill-rule="evenodd" d="M8 11.5a.5.5 0 0 0 .5-.5V6a.5.5 0 0 0-1 0v5a.5.5 0 0 0 .5.5z"/>
      </svg>
      </button>
    </a>
  </div>
{% endblock %}
